<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>

<script>console.log('
  {{#if htmlWebpackPlugin.options.testMsg}}
  {{htmlWebpackPlugin.options.testMsg}}
  {{else}}
  Missing Test Message
  {{/if}}
  ');
</script>

</body>
</html>

